<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243166644642-4btp11q7foco6pkk6tsf41ope7ljbfov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243166644642-4btp11q7foco6pkk6tsf41ope7ljbfov</string>
	<key>API_KEY</key>
	<string>AIzaSyAqOWAVlgAn4mtoCjcYg0r1qywfu_HkhHc</string>
	<key>GCM_SENDER_ID</key>
	<string>243166644642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alarmandcalm.todolist</string>
	<key>PROJECT_ID</key>
	<string>to-do-61b38</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-61b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243166644642:ios:c7c3bcf2f85c9d02668afb</string>
</dict>
</plist>